.Tilt {
	/*background-color: #d4d3dd;*/
background-size: contain;
background-repeat: no-repeat;

}

img:hover {
	-webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}